.footer {
  max-height: 150px;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  padding-top: 70px;
  padding-bottom: 100px;

  ul {
    list-style: none;

    li {
      padding-top: 25px;
    }
  }
}
