.gedichten {
  .section {
    .title {
      font-size: 40px;
    }

    .paragraph {
      padding-top: 20px;
      font-size: 19px;
      color: rgba(0, 0, 0, 0.82);
      width: 400px;
    }
  }

  .gallery {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .image {
      margin-top: 50px;
      width: 300px;
      height: 380px;
      background-size: cover;

      @keyframes hover {
        0% {
          filter: brightness(100%);
        }
        100% {
          filter: brightness(50%);
        }
      }

      &:hover {
        cursor: pointer;
        animation: hover 1s forwards;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
}
