.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 90px;

  a {
    text-decoration: none;
    color: black;
  }

  .navigation {
    max-height: 27px;
  }

  .title {
    font-weight: bold;
    font-size: 34px;

    &:hover {
      cursor: pointer;
    }
  }

  ul {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;

    .navbar-hover {
      margin: 0 10px;
      padding-bottom: 2px;
      font-size: 22px;

      &:hover {
        border-bottom: black 2px solid;
        cursor: pointer;
      }
    }

    .expand-button {
      .foldout {
        display: none;
        position: absolute;
        right: 120px;
        top: 80px;

        ul {
          display: flex;
          flex-direction: column;
          list-style: none;
          li {
            padding: 3px;
          }
        }

        a {
          text-decoration: none;
          color: black;
          font-size: 22px;
        }
      }
    }
  }

  .expand {
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    font-size: 22px;

    &:hover {
      .foldout {
        display: block;
      }
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 800px) {
  .header {
    ul {
      flex-direction: column;
    }
  }
}
