.informatie {
  .section-bomans {
    padding-top: 200px;
  }

  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .godfried-bomans {
      .text {
        display: flex;
        flex-direction: column;

        .title {
          padding-top: 20px;
          font-size: 30px;
        }

        .paragraph {
          padding-top: 20px;
          color: rgba(0, 0, 0, 0.82);
        }

        .person {
          margin-top: 130px;
          width: 385px;
          height: 400px;
        }
      }
    }

    .text-list {
      padding-top: 100px;
      width: 420px;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.82);
      font-size: 20px;
    }

    .text {
      width: 420px;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.82);
      .title {
        font-size: 40px;
      }

      .paragraph {
        padding-top: 20px;
        width: 400px;
      }
    }

    .walls-image {
      padding-top: 60px;
      width: 300px;
      height: 400px;
    }

    .title {
      font-size: 40px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .informatie {
    .section-bomans {
      padding-top: 20px;
    }

    .section {
      flex-direction: column;

      .text-list {
        width: 80vw;
        font-size: 17px;
        padding-top: 20px;
      }

      .godfried-bomans {
        .title {
          font-size: 35px;
        }

        .text {
          .title {
            font-size: 25px;
          }

          .paragraph {
            width: 80vw;
          }

          .person {
            margin-top: 30px;
          }
        }
      }

      .text {
        width: 80vw;
        font-size: 16px;

        .title {
          font-size: 25px;
        }

        .paragraph {
          width: 70vw;
        }

        .person {
          width: 70vw;
        }
      }

      .walls-image {
        margin-bottom: 30px;
      }
    }

    hr {
      display: none;
    }
  }
}
