.insturen {
  .title {
    font-size: 42px;
    padding-bottom: 60px;
  }

  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img {
      width: 360px;
      height: 450px;
      padding-top: 50px;
    }

    .text {
      width: 400px;

      .title {
        font-size: 32px;
        padding-bottom: 40px;
      }

      .paragraph {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.85);
        padding-bottom: 40px;
      }
    }
  }

  .contact {
    .title {
      padding-bottom: 30px;
    }

    .paragraph {
      width: 400px;
      padding-bottom: 40px;
    }

    .form {
      display: flex;
      flex-direction: column;
      width: 650px;

      button {
        width: 170px;
        cursor: pointer;
      }

      label {
        display: flex;
        flex-direction: column;
        font-size: 18px;
        padding: 10px 0;

        .wrapper {
          display: flex;
          flex-direction: row;

          .image {
            padding-left: 30px;
          }
        }

        .label {
          padding-bottom: 5px;
        }

        input {
          font-size: 20px;
          padding: 13px 8px;
          font-family: 'Merriweather', serif;
        }

        .upload {
          display: none;
        }

        .text {
          margin: 20px 0;
          width: 400px;
        }

        .upload-label {
          font-family: 'Roboto', sans-serif;
          font-size: 20px;
          width: 108px;
          background-color: #c4c4c4;
          padding: 20px 25px;
          border-radius: 5px;

          &:hover {
            background-color: darken(#c4c4c4, 20%);
            cursor: pointer;
          }
        }

        textarea {
          font-size: 20px;
          padding: 13px 8px;
          font-family: 'Merriweather', serif;
        }
      }
    }
  }
}
